// F O N T S //

@font-face {
  font-family: 'NeonTubes2';
  src:
    url('../definitions/neonTubes/neontubes2-webfont.woff') format('woff'),
    url('../definitions/neonTubes/NeonTubes2.otf') format('opentype'),
    url('../definitions/neonTubes/NeonTubes2.otf') format('truetype');
}

// C O L O R S
$bg-color: #00111f;    // Page Background Color
$main-red: #ff0025;    // Beat Saber Red
$main-red-light: #fff0f0;    // Beat Saber Red Light
$main-red-shadow: #ff8d9e;    // Beat Saber Red Shadow
$main-blue: rgb(0 0 255);       // Beat Saber Blue
$main-blue-light: #edf5ff;    // Beat Saber Blue Light
$main-blue-shadow: #7979ff;    // Beat Saber Blue Shadow
$main-yellow: #ffeb00;    // Bee Saber Yellow
$main-yellow-light: #fffcdd;    // Bee Saber Yellow Light (for Shadow)
$main-white: rgb(245 245 245); // Bee Saber White
$main-white-light: #747373;    // Bee Saber White-light
$main-grey: rgb(128 128 128);       // Bee Saber Grey
$main-grey-light: #ced4da;    // Bee Saber Grey-light
$main-grey-dark: #131c24;    // Bee Saber Grey-dark
