// Import FontFace for Neon Tubes Font
@import './tokens/definitions/neonTubes/importFontFace';

body {
  background-color: #00111f;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

#logo-honeycomb path {
  fill: none;
  stroke: #fffcdd;
  stroke-linejoin: round;
  stroke-width: 3.5;
}

// overwrites the standard MDBReact link color
a {
  color: #ff0025 !important; // yellow-main
}
